body {
    margin: 0;
    background-color: aliceblue;
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 1rem;
    justify-items: center;
}